.content {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px;
    padding: 2% 0 4% 0;
    border-top: 2px solid #ff2800;
  }

  .title {
    text-align: center;
  }

  .title h1 {
    font-size: 2rem;
    color: black;
    font-weight: bold;
  }
  
  .title h3 {
    font-size: 1rem;
    color: black;
    font-weight: bold;
  }

  .form {
    background-color: white;
    color: black;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 100%;
    max-width: 500px;
  }
  
  .inputGroup {
    margin-bottom: 15px;
  }
  
  .inputGroup label {
    font-size: 14px;
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
  }
  
  .inputGroup input,
  .inputGroup textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .inputGroup textarea {
    resize: vertical;
    min-height: 150px;
  }
  
  .inputGroup input:focus,
  .inputGroup textarea:focus {
    border-color: #ff2800;
    outline: none;
  }
  
  .submitButton {
    background-color: #ff2800;
    color: white;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s ease;
  }
  
  .submitButton:hover {
    background-color: #ff2600be;
  }
  
  .submitButton:focus {
    outline: none;
  }
  