.gridContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 1.5rem;
    padding: 2rem;
    max-width: 1200px;
    margin: 0 auto;
  }

  .textTitle {
    color: black;
  }
  
  .card {
    text-align: center;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    padding: 1rem;
    transition: transform 0.2s ease;
    text-decoration: none;

  }
  
  .card:hover {
    transform: scale(1.05);
  }
  
  .image {
    border-radius: 8px;
  }
  