.gridContainer {
  align-items: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 1.5rem;
    padding: 2rem;
    max-width: 1200px;
    margin: 0 auto;
  }

  .textTitle {
    color: black;
  }
  
  .card {
    display: flex;
    text-align: center;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 12px #0000001a;
    padding: 1rem;
    transition: transform .2s;
    text-decoration: none;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .card:hover {
    transform: scale(1.05);
  }
  
  .image {
    border-radius: 8px;
  }
  